# name of the action
name: publish

# trigger on push events with branch main
on:
  push:
    branches: [main]

# pipeline to execute
jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: clone
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: install go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          # use version from go.mod file
          go-version-file: 'go.mod'
          cache: true

      - name: build
        env:
          GOOS: linux
          CGO_ENABLED: '0'
        run: |
          go build -a \
            -ldflags '-s -w -extldflags "-static"' \
            -o release/secret-vault \
            github.com/go-vela/secret-vault/cmd/secret-vault

      - name: publish
        uses: elgohr/Publish-Docker-Github-Action@4feac4d53e4e55dcc5d3e2ad0ed2e0a76028ff7a # v5
        with:
          name: target/secret-vault
          cache: true
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
